# Entornos virtuales
.venv/
venv/
env/



# Python cache y compilados
__pycache__/
*.pyc
*.pyo
*.pyd
backend/__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Archivos del sistema operativo
.DS_Store
Thumbs.db